TELEGRAM_BOT_TOKEN=123456:ABC-DEF...
LLM_PROXY_URL=http://llm-proxy:3030/proxy
LLM_PROXY_API_KEY=f4sd56fs6...
LLM_MODEL=gpt-4o
GITHUB_PROMPT_FILE=https://raw.githubusercontent.com/Rodrigosis/Prompts/refs/heads/main/ia_rpg/.../system_prompt.md?token=AAAL6NPQ5TVXXECBZ...

OPENAI_API_KEY=sm9ICOYEXcwtuYJwA...
XAI_API_KEY=epOotDm2rruWaQu05f...
VENICE_API_KEY=VVO4WaJslPfp...
LOG_LEVEL=INFO
